body {
    background-color: #000000;
}

#greenTrain {
    margin-top: 40px;
    vertical-align: text-bottom;
    float: left;
}

#top {
    font-family: 'VT323', monospace;
    font-size: 80px;
}

#top,
#bottom {
    float: right;
    color: #4f9c28;
    background-color: #000000;
    font-family: 'VT323', monospace;
}

#bottom {
    clear: both;
}

.panel-primary {
    border-color: #4f9c28;
}

.panel-primary>.panel-heading {
    background-color: #4f9c28;
    border-color: #4f9c28;
}

.btn-primary {
    background-color: #4f9c28;
    border-color: #4f9c28;
}